<footer class="footer-wrapper">
  <audio
    loop
    ontimeupdate="handleAudioChange()"
    id="audio"
    src="/lofi-music/lofi/chill1.mp3"
  ></audio>
  <p class="desc">Song name: Secrets</p>
  <button onclick="togglePlayAudio()" class="play-btn">
    <img id="playBtn" src="/lofi-music/icons/play.svg" alt="playBtn" />
  </button>
  <button onclick="toggleModal()" id="open-menu-btn" class="open-menu-btn">
    <i class="fas fa-book-reader fa-2x"></i>
  </button>
  <div id="modal" class="card">
    <div class="card-body">
      <h1 class="card-title text-center mb-3" style="color: #ffbc70">
        Task List
      </h1>

      <% if(message){%>
      <div class="alert alert-<%= message.type %>">
        <%= message.text %>
      </div>
      <% } %>

      <form
        class="card-form mb-3"
        method="post"
        action="<%= routePaths.addTaskRoute  %>"
      >
        <input
          type="text"
          name="task"
          placeholder="Add your new task"
          class="form-control"
        />
        <button type="submit" class="btn btnAddTask">Add</button>
      </form>
      <div class="seperate"></div>
    </div>

    <div class="card-footer">
      <% if(tasks && tasks?.length) { tasks.map((item) => {%>
      <div class="task-item">
        <form
          class="card-form"
          action="<%= routePaths.editTaskRoute  %>"
          method="post"
        >
          <input
            type="text"
            name="task"
            placeholder="Task..."
            class="form-control"
            value="<%= item.title %>"
          />
          <input type="hidden" name="taskId" value="<%= item._id %>" />
          <button class="btn btn-primary">
            <i class="fa-solid fa-pen-to-square"></i>
          </button>
        </form>
        <form action="<%= routePaths.deleteTaskRoute  %>" method="post">
          <input type="hidden" name="taskId" value="<%= item._id %>" />
          <button class="btn btn-danger">
            <i class="fa-solid fa-trash"></i>
          </button>
        </form>
      </div>
      <% })} else {%>
      <div
        class="w-100 py-2 px-3 text-center"
        style="background-color: #fff; color: black; border-radius: 4px"
      >
        Nothing to do yet
      </div>
      <% } %>
    </div>
  </div>
</footer>

<script>
  const audio = document.getElementById("audio");
  const handleAudioChange = () => {
    localStorage.setItem("audioCurrentTime", audio.currentTime);
  };

  const playBtn = document.getElementById("playBtn");
  const togglePlayAudio = () => {
    if (audio.paused) {
      audio.play();
      playBtn.src = src = "/lofi-music/icons/pause.svg";
    } else {
      audio.pause();
      playBtn.src = src = "/lofi-music/icons/play.svg";
    }
  };

  const modal = document.getElementById("modal");
  const openMenuBtn = document.getElementById("open-menu-btn");

  const toggleModal = () => {
    if (!modal.style.opacity || modal.style.opacity == 0) {
      localStorage.setItem("openModal", true);
      modal.style.opacity = 1;
      openMenuBtn.style.borderTopRightRadius = 0;
      openMenuBtn.style.borderTopLeftRadius = 0;
    } else {
      localStorage.setItem("openModal", false);
      modal.style.opacity = 0;
      openMenuBtn.style.borderTopRightRadius = "100%";
      openMenuBtn.style.borderTopLeftRadius = "100%";
    }
  };

  if (localStorage.getItem("openModal") == "true") {
    setTimeout(() => {
      modal.style.opacity = 1;
      openMenuBtn.style.borderTopRightRadius = 0;
      openMenuBtn.style.borderTopLeftRadius = 0;
    }, 100);
  }

  audio.currentTime = +localStorage.getItem("audioCurrentTime");
</script>
